version: 2
updates:
  - package-ecosystem: "bundler"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    # Dependabot will check for updates weekly and open PRs for up to 5 simultaneous updates
